<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete User</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="topnav">
        <a href="/">Home</a>
        <a href="/create">Create</a>

    </div>
    <div class="form">
        <h1>Comfirm Delete Users</h1>
        <form action="/delete-user" method="post">
            <fieldset>
                <div class="input-group" style="display: none;">
                    <label>Id:</label>
                    <input type="text" name="userId" id="emailId" value="<%= userEdit.id %>">
                </div>
                <div class="input-group">
                    <label>Are you sure to delete a gmail:</label>
                    <input type="text" name="email" value="<%= userEdit.email %>">
                </div>
                <button>Submit</button>
            </fieldset>
        </form>

</body>

</html>